.right{border-bottom:4px solid #6495ED;margin:10px;clear:right;}

.highlight{
	background:#FFDDFE;
	border:1px dotted #FF00FF;
	padding:1em;
	margin:1em;
}

p.highlight{ font-size:110%; font-weight:bold;}

a.downloadLink{
background:transparent url(_img/arrow_down.png) right bottom no-repeat;
padding:2px 17px 0px 0px;
color:#FF00FF;
font-style:normal;

border-bottom-width:2px;
}
a.downloadLink:hover{
color:#FF00FF;
text-decoration: none;
font-style:italic;
font-size:110%;
}

fieldset{
	border:1px dotted #DDD;
}
div.code{
border:1px dotted #DDD;
padding:20px;
}
dt{
	font-weight:bold;
	font-style:italic;
	margin-top:1em;
	border-left:4px solid #6495ED;
	padding-left:5px;
}
form.a_form{
border:1px dotted black;
background:#FFFFDF;
}
.a_form ol, .a_form ul{
list-style:none;
}